/* color and size for blog header (banner)
*/
header {
    background: #F4D078;
    opacity: 1.0;
    margin-bottom: 1.45rem;
    font-family: 'NanumSquareRound', sans-serif;
}
/* position for title block inside blog header
*/
.title {
    padding: 1.45rem 1.0875rem;
    margin-left: 70px;
}
@media (min-width: 998px) {
    .title { 
        width: 800px;
        margin: 0 auto;
    }
}
.title > h1 {
    margin: 0;
}
.title-link {
    font-family: 'NanumSquareRound', sans-serif;
    color: #fffce1;
}