@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');

/* background color and size for header (banner)
*/
header {
    background: #252627;
    opacity: 1.0;
    font-family: 'hanna', 'NanumSquareRound', sans-serif;
    height: 100vh;    
}

/* style for container around title and meta data
*/
.banner-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* style for title
*/
.banner-title-container {
    display: flex;
    justify-content: center;
}
@media (min-width: 960px) {
    .banner-title-container {
        width: 70vw;
    }
}
.tag-decoration {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    color: grey;
    height: 100%;
    margin: auto 1rem;
    padding: 2rem 0 0 0;
}
.banner-title {
    font-family: 'Hanna', sans-serif;
    font-weight: 300;
    color: #08fdd8;
    font-size: 5rem;
}
/*
*/