/* define font for whole web blog
*/
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
html {
  font-family: 'NanumSquareRound', sans-serif;
}
/* set margin to 0 for no funky spaces in the page
*/
body {
  margin: 0;
}
/* set the size and margin for the main content in blog
*/
main {
  margin: 2rem auto; 
  max-width: 800px; 
}
@media (max-width: 878px) {
  main {
    margin: 2rem 30px;
  }
}
/* no decoration around links
*/
a {
  text-decoration: none;
}

/* define style of post title within the article 
*/
.post-title {
  margin-bottom: 2rem;
}
.post-title > h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.8rem;
  color: #373A47;
}
.post-title > time {
  color: lightgrey;
}
.post-title > .tags {
  display: inline-block;
}
/* define style of post content within the article
*/
.post-content {
  line-height: 2rem;
}
.post-content > blockquote {
  color: grey;
}