/* define fonts for whole web blog
*/
@import url('https://fonts.googleapis.com/earlyaccess/hanna.css');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
html {
  font-family: 'Hanna', 'NanumSquareRound', sans-serif;
  font-weight: 300;
}

/* set margin to 0 for no funky spaces in the page
*/
html, body {
  margin: 0;
}

/* set the size and margin for the main content in blog
*/
main {
  margin: 3rem auto; 
  max-width: 800px; 
}
@media (max-width: 878px) {
  main {
    margin: 3rem 30px;
  }
}

/* no decoration around links
*/
a {
  color: #3B8686;
  text-decoration: none;
}

/* define style of post content within the article
*/
.post-content {
  line-height: 2rem;
  font-family: 'Jeju Gothic', 'NanumSquareRound', sans-serif;
}
.post-content > blockquote {
  color: grey;
  border-left-style: solid; 
  margin: 0;
  padding-left: 1rem;
}
.post-content h3 {
  color: #f51c5d;
  margin-top: 3rem;
}
.post-content h4 {
  color: #3E74BE;
  margin-top: 2rem;
}
.post-content ul, li {
  margin-bottom: 8px;
}

/* define style of body content for list pages
*/
.body-container {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}
.body-container > main {
  margin: 0;
}
@media (max-width: 878px) {
  .body-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem 30px;
  }
}
/* define style of tags for list pages
*/
.body-tag-left {
  justify-self: center;
  align-self: start;
  margin: 2rem 1rem;
}
.body-tag-right {
  justify-self: center;
  align-self: end;
  margin: 2rem 1rem;
}