/* define fonts for whole web blog
*/
@import url('https://fonts.googleapis.com/earlyaccess/hanna.css');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
html {
  font-family: 'Hanna', 'NanumSquareRound', sans-serif;
  font-weight: 300;
}

/* no funky spaces around the page
*/
html, body {
  margin: 0;
}

/* size and margin for the main content in blog
*/
main {
  margin: 3rem auto; 
  max-width: 800px; 
}
@media (max-width: 878px) {
  main {
    margin: 3rem 30px;
  }
}

/* style links
*/
a {
  color: #56cfb4;
  text-decoration: none;
}

/* style of post content within the article
*/
.post-content {
  line-height: 2rem;
  font-family: 'Jeju Gothic', 'NanumSquareRound', sans-serif;
}
.post-content > blockquote {
  color: grey;
  border-left-style: solid; 
  margin: 0;
  padding-left: 1rem;
}
.post-content h3 {
  color: #f51c5d;
  margin-top: 3rem;
}
.post-content h4 {
  color: #3E74BE;
  margin-top: 2rem;
}
.post-content ul, li {
  margin-bottom: 8px;
}
.post-content table {
  border-collapse: collapse;
  margin: 1.5rem 0rem;
}
.post-content table, th, td {
  padding: 5px 15px;
}
.post-content tr {
  border-bottom: 2px solid lightgrey;
}
.post-content th, td {
  text-align: center;
}
.post-content th {
  background-color: #383c41;
  color: white;
}

/* style of body content for list pages
*/
.body-container {
  display: grid;
  grid-template-columns: minmax(85px, 1fr) 800px minmax(85px, 1fr);
}
.body-container > main {
  margin: 0;
}

/* style of tag decorations for list pages
*/
.body-tag-left {
  justify-self: center;
  align-self: start;
  margin: 2rem 1rem;
}
.body-tag-right {
  justify-self: center;
  align-self: end;
  margin: 2rem 1rem;
}

/* style for mobile size
*/
@media (max-width: 399px) {
  .body-container {
    display: block;
    margin: 3rem 30px;
  }
  .body-tag-right {
    text-align: right;
  }
}