/* Style for sidebar Menu */
.sidebar-menu {
  margin: 0;
  width: 60px;
  height: 300px;
  position: fixed;
  top: 11rem;
  background-color: #181818;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 3px solid #f51c5d;
  border-right: 2px solid #f51c5d;
  border-bottom: 3px solid #f51c5d;
}
/* Style for link panel */
.link-panel {
  position: absolute;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  justify-content: space-between;
  align-items: center;
}
/* Style for icon links */
.sidebar-menu-icon {
  color: #fffce1;
  font-size: 1.6rem;
}
.sidebar-menu-icon:hover {
  color: #f51c5d;
}
.active-page-icon {
  color: #08fdd8;
}
/* style for mobile size */
@media (max-width: 399px) {
  
}